*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Heading{
    text-align: center;
    font: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Heading span{
    background-color: rgb(175, 193, 193);
    padding: 10px;
    border-radius: 5px;
}
.container{
    background-color: rgb(175, 193, 193);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerBox{
    height: 400px;
    width: 350px;
    background-color: rgb(125, 125, 116);
}
.innerBox p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.innerBox p:hover{
    background-color: khaki;
    cursor: pointer;
}